In [1]:
file = '/home/joaquin/projects/methylation/data/bigwigs/summaryMultipleRep/methylationExperiments/MYC3direct1Mock.tab'
with open(file) as f:
    first_line = f.readline()

In [16]:
z
# maemia.append(ole[1:-1] for ole in loco)

print()

In [17]:
maemia

['chr', 'start', 'end', 'rep1', 'rep2', 'rep3']

In [34]:
import pandas as pd
meansummaryDf = pd.read_csv(file, sep='\t', header=0, names=maemia, dtype={'chr':str})
meansummaryDf.drop(meansummaryDf[(meansummaryDf.chr == 'Mt') | (meansummaryDf.chr == 'Pt')].index, inplace=True)
meansummaryDf['average'] = meansummaryDf[['rep1', 'rep2', 'rep3']].mean(axis=1)
meansummaryDf.drop(columns=['rep1', 'rep2', 'rep3'], inplace=True)
meansummaryDf['chr'] = pd.to_numeric(meansummaryDf['chr'])
plottingDataFrame = meansummaryDf.sort_values(['chr','start'])

In [27]:
meansummaryDf.drop(meansummaryDf[(meansummaryDf.chr == 'Mt') | (meansummaryDf.chr == 'Pt')].index, inplace=True)
plottingDataFrame['chr'] = pd.to_numeric(plottingDataFrame['chr'])
plottingDataFrame['pos'] = pd.to_numeric(plottingDataFrame['pos'])
plottingDataFrame = plottingDataFrame.sort_values(['chr','pos'])

In [36]:
meansummaryDf

          chr     start       end    average
0           5         0        10   0.182991
1           5        10        20   0.216391
2           5        20        30   0.295189
3           5        30        40   0.470317
4           5        40        50   0.592163
...       ...       ...       ...        ...
11966773    2  19698240  19698250  13.110100
11966774    2  19698250  19698260  10.621438
11966775    2  19698260  19698270   8.213488
11966776    2  19698270  19698280   5.651903
11966777    2  19698280  19698289   2.665997

[11914637 rows x 4 columns]

In [28]:
meansummaryDf.to_csv(file[:-4] + '.bedgraph', sep='\t', index=False)